<h1>Listing images</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Caption</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.Latitude %></td>
    <td><%= image.Longitude %></td>
    <td><%= image.caption %></td>
    <td><%= image.photo_id %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
